<!--  
    -------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------------
    ----------  /01-udemy/  -------------------------------------
    ----------  /01-jquery-master-javascript-clasico/  ----------
    ----------  /src/components/layout/  ------------------------
    ----------  /layout-footer.html  ----------------------------
    -------------------------------------------------------------
-->


<!--  
    ------------------------------
    ----------  FOOTER  ----------
    ------------------------------  
-->
<div class="footer__container">


    <!--
        ---------------------------
        -----  Footer Header  -----
        ---------------------------
    -->

    <header class="footer__header">


        <!--  -----  Contenedor del logo y del icon de jQuery  -----  -->
        <div class="footer__container-logos">

            <!--  -----  Logo jQuery  -----  -->
            <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="footer__jquery-logo"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery/jquery-logo.svg"
                    alt="Banner jQuery"
                    loading="lazy"
                >
            </a>

            <!--  -----  Icon jQuery  -----  -->
            <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="footer__jquery-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery/jquery-icon.svg"
                    alt="Logo jQuery"
                    loading="lazy"
                >
            </a>

        </div>


        <!--  -----  contenedor del Título del Footer  -----  -->
        <div class="footer__container-title">
        
            <!--  -----  Título del Footer  -----  -->
            <h1 class="footer__title"> 
                
                &lt; jQuery Master JavaScript Clásico /&gt; 
                
                <!--  -----  renderizado del título con el plugin de jQuery  -----  -->
                <p id="footerTitle"> </p>
                
                &lt; Udemy - Victor Robles Web /&gt;

            </h1>

        </div>
        

        <!--  -----  Contenedor del logo y del Icono de jQuery UI  -----  -->
        <div class="footer__container-logos">

            <!--  -----  Logo jQuery UI  -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="footer__jquery-ui-logo"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery-ui/jquery-ui-logo.avif"
                    alt="Banner jQuery UI"
                    loading="lazy"
                >
            </a>

            <!--  -----  Icon jQuery UI  -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="footer__jquery-ui-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery-ui/jquery-ui-icon.svg"
                    alt="Logo jQuery UI"
                    loading="lazy"
                >
            </a>

        </div>

    </header>


    <!--
        -------------------------
        -----  Footer Main  -----
        -------------------------
    -->

    <main class="footer__main">


    <!--  -----  list  -  jQuery Master JavaScript Clásico  -----  -->
        <ul class="footer__list">
            
            <h3 class="footer__list-title"> 
                jQuery Master JavaScript Clásico
            </h3>
            
            <li class="footer__item">
                <a href="#" data-id="homeJQuery"> 
                    Home
                </a>
            </li>

           <div class="footer__list-separator"> </div>
           
        </ul>

        <!--  -----  list  -  1. Aprendiendo jQuery  -----  -->
        <ul class="footer__list">
            
            <h3 class="footer__list-title"> 
                1. Aprendiendo jQuery
            </h3>
            
            
            <li class="footer__item">
               <a href="#" data-id="primerosPasosJQuery"> 
                   1. Primeros Pasos
                </a>
            </li>

            <li class="footer__item">
                 <a href="#" data-id="selectoresJQuery"> 
                     2. Selectores
                  </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="eventosJQuery"> 
                    3. Eventos
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="efectosAnimacionesJQuery"> 
                    4. Efectos y Animaciones
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="peticionesAjaxJQuery"> 
                    5. Peticiones AJAX
                </a>
            </li>
            
            <div class="footer__list-separator"> </div>
           
        </ul>


        <!--  -----  list  -  2. Aprendiendo jQuery UI  -----  -->
        <ul class="footer__list">
            
            <h3 class="footer__list-title"> 
                2. Aprendiendo jQuery UI
            </h3>
                        
            <li class="footer__item">
                <a href="#" data-id="primerosPasosJQueryUI"> 
                    1. Primeros Pasos
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="interaccionesJQueryUI"> 
                    2. Interacciones
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="animacionesEfectosJQueryUI"> 
                    3. Animaciones y Efectos
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="efectosAnimacionesJQuery"> 
                    4. Efectos y Animaciones
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="pluginsWidgetsJQueryUI"> 
                    4. Plugins y Widgets
                </a>
            </li>

            <div class="footer__list-separator"> </div>
           
        </ul>
     

        <!--  -----  list  -  3. Proyecto jQuery  -----  -->
        <ul class="footer__list">
            
            <h3 class="footer__list-title"> 
                3. Proyecto jQuery
            </h3>
            
            <li class="footer__item">
                <a href="#" data-id="proyectoJQuery"> 
                    Proyecto HTML, CSS, JS, jQuery
                </a>
            </li>

            <div class="footer__list-separator"> </div>
           
        </ul>

    </main>
  

</div>