<!--  
    -------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------------
    ----------  /01-udemy/  -------------------------------------
    ----------  /01-jquery-master-javascript-clasico/  ----------
    ----------  /src/components/layout/  ------------------------
    ----------  /layout-navbar.html  ----------------------------
    -------------------------------------------------------------
-->


<!--
    ------------------------------
    ----------  NAVBAR  ----------  
    ------------------------------
-->

<div class="navbar__container">


    <!--  -----  Lista del menú  -  jQuery Master JavaScript Clásico  -----  -->
    <ul class="navbar__list">


        <!--  -----  Título del menú (navbar)  -----  -->
        <div class="navbar__title"> 
            
            <!--  -----  Icon de jQuery -----  -->
            <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="jquery-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery/jquery-icon.svg"
                    alt="Logo jQuery"
                    loading="lazy"
            >
            </a>

            <h3> jQuery Master JavaScript Clásico </h3>

            <!--  -----  Icon de jQuery UI -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="jquery-ui-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery-ui/jquery-ui-icon.svg"
                    alt="Logo jQuery UI"
                    loading="lazy"
                >
            </a>

        </div>

        
        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="homeJQuery"> 
                Home
            </a>
        </li>

    </ul>

    
    <!--  -----  Lista del menú  -  1. Aprendiendo jQuery  -----  -->
    <ul class="navbar__list">


        <!--  -----  Título del menú (navbar)  -----  -->
        <div class="navbar__title"> 
            
            <!--  -----  Icon de jQuery -----  -->
            <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="jquery-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery/jquery-icon.svg"
                    alt="Logo jQuery"
                    loading="lazy"
            >
            </a>

            <h3> 1. Aprendiendo jQuery </h3>

            <!--  -----  Icon de jQuery UI -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="jquery-ui-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery-ui/jquery-ui-icon.svg"
                    alt="Logo jQuery UI"
                    loading="lazy"
                >
            </a>

        </div>

        
        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="homeJQuery"> 
                Home
            </a>
        </li>

        <!--  -----  item 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="primerosPasosJQuery"> 
                1. Primeros Pasos
            </a>
        </li>

        <!--  -----  item 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="selectoresJQuery"> 
                2. Selectores
            </a>
        </li>

        <!--  -----  item 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="eventosJQuery"> 
                3. Eventos
            </a>
        </li>

        <!--  -----  item 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="domJQuery"> 
                4. Manipulación del DOM
            </a>
        </li>

        <!--  -----  item 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="efectosJQuery"> 
                5. Efectos
            </a>
        </li>

        <!--  -----  item 6  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="animacionesJQuery"> 
                6. Animaciones
            </a>
        </li>

        <!--  -----  item 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="peticionesAjaxJQuery"> 
                5. Peticiones AJAX
            </a>
        </li>
        

    </ul>


    <!--  -----  Lista del menú  -  2. Aprendiendo jQuery UI  -----  -->
    <ul class="navbar__list">


        <!--  -----  Título del menú (navbar)  -----  -->
        <div class="navbar__title"> 
            
            <!--  -----  Icon de jQuery -----  -->
            <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="jquery-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery/jquery-icon.svg"
                    alt="Logo jQuery"
                    loading="lazy"
            >
            </a>

            <h3> 2. Aprendiendo jQuery UI </h3>

            <!--  -----  Icon de jQuery UI -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="jquery-ui-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery-ui/jquery-ui-icon.svg"
                    alt="Logo jQuery UI"
                    loading="lazy"
                >
            </a>

        </div>

        
        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="homeJQuery"> 
                Home
            </a>
        </li>

        <!--  -----  item 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="primerosPasosJQueryUI"> 
                1. Primeros Pasos
            </a>
        </li>

        <!--  -----  item 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="interaccionesJQueryUI"> 
                2. Interacciones
            </a>
        </li>

        <!--  -----  item 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="animacionesEfectosJQueryUI"> 
                3. Animaciones y Efectos
            </a>
        </li>

        <!--  -----  item 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="pluginsWidgetsJQueryUI"> 
                4. Plugins y Widgets
            </a>
        </li>

    </ul>


    <!--  -----  Lista del menú  -  3. Proyecto html, css, js, jquery  -----  -->
    <ul class="navbar__list">


        <!--  -----  Título del menú (navbar)  -----  -->
        <div class="navbar__title"> 
            
            <!--  -----  Icon de jQuery -----  -->
            <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="jquery-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery/jquery-icon.svg"
                    alt="Logo jQuery"
                    loading="lazy"
            >
            </a>

            <h3> 3. Proyecto HTML, CSS, JS, jQuery </h3>

            <!--  -----  Icon de jQuery UI -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img 
                    class="jquery-ui-icon"
                    src="/01-udemy/01-jquery-master-javascript-clasico/assets/img/jquery-ui/jquery-ui-icon.svg"
                    alt="Logo jQuery UI"
                    loading="lazy"
                >
            </a>

        </div>

        
        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="proyectoJQuery"> 
                Proyecto HTML, CSS, JS, jQuery
            </a>
        </li>

    </ul>

</div>